:host {
    display: flex;
    flex-direction: column;
    padding: 8px;
    max-height: calc(100% - 40px);
}

.end-call {
    position: fixed;
    padding: 8px;
    background-color: red;
    color: white;
    border-radius: 8px;
    bottom: 16px;
    left: calc(50% - 32px);
}
app-stream-player {
    height: calc(100vh - 56px);
}

.calling {
    font-size: 48px;
    text-align: center;
    padding: 48px;
}