:host {
  display: flex;
  flex-direction: column;
  padding: 8px;
  max-height: calc(100% - 48px);
}

.end-call {
  position: fixed;
  padding: 8px;
  background-color: red;
  color: white;
  border-radius: 8px;
  bottom: 16px;
  left: calc(50% - 32px);
}
app-stream-player {
  height: calc(100vh - 64px);
  &:not(.my-video) {
    background-color: #375ae6aa;
    background-image: url("../../../assets/escheresque.png");
  }
}

.calling {
  font-size: 48px;
  text-align: center;
  padding: 48px;
}
.call-with {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 0;
  font-size: 24px;
}
