<app-login *ngIf="!(loggedAs$ | async)"></app-login>
<ng-container *ngIf="loggedAs$ | async as userName">
  <h1>Logged in as {{ userName }}</h1>
  <ng-template #waitingCamera>
    <h2>Waiting camera...</h2>
  </ng-template>
  <ng-container *ngIf="camera$ | async as cameraStream; else waitingCamera">
    <app-user-directory *ngIf="!(currentCall$ | async)"> </app-user-directory>
    <ng-container *ngIf="currentCall$ | async as currentCall">
      <app-call [call]="currentCall"></app-call>
    </ng-container>
    <app-stream-player
      [stream]="cameraStream"
      [muted]="true"
      class="my-video"
    ></app-stream-player>
  </ng-container>
</ng-container>
